<div class="section-wrapper bg-color-dark-blue">
  <div class="section-content">
    <div class="info-wrapper">
<!--      <span class="body-3 color-white">-->
<!--        🔥️ 100% atlaide jebkuram pasūtījumam līdz 04.03.2022 🔥-->
<!--      </span>-->
<!--      <span *ngIf="time" class="body-3 color-white">-->
<!--      Piedāvājums beigsies pēc {{time.days}} dienām-->
<!--        {{time.hours >= 10 ? '' : 0}}{{time.hours}}:{{time.minutes >= 10 ? '' : 0}}{{time.minutes}}:{{time.seconds >= 10 ? '' : 0}}{{time.seconds}}-->
<!--    </span>-->
      <span class="body-3 color-white" i18n="Info block body">
        🎁 20% atlaide pirmajam pasūtījumam 🎁
      </span>
    </div>
  </div>
</div>
