.section-wrapper {
  //background-image: url("../../../../../assets/images2/clouds-02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  //background-attachment: fixed;

  edu-slider {
    display: block;
    margin: 30px 0 50px 0;
  }

  button {
    margin: 20px auto 0 auto;
  }
}
