.work {
  .title {
    text-align: center;
  }

  .steps-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 100px;
    margin-top: 50px;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;

      .call {
        justify-content: center;
        padding: 24px !important;
      }
    }

    .step-box {
      position: relative;
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 20px;
      align-items: center;
      background-color: var(--white);
      min-height: 150px;
      border-radius: 10px;
      padding: 24px 24px 24px 75px;
      box-shadow: 0 1px 2px 0 rgba(77,77,77,.16);

      @media (max-width: 500px) {
        grid-template-columns: auto;
        padding-left: 30px;

        .icon {
          margin-bottom: 10px;
          grid-row: 1;
        }
      }

      mat-icon {
        color: var(--dark-blue);
        font-size: 40px;
        width: 40px;
        height: 40px;
        position: absolute;
        transform: translateX(-50%);
      }

      .info {
        p {
          margin-top: 20px;
        }

        a {
          margin-top: 20px;
          max-width: 200px;
        }
      }

      .icon {
        font-size: 50px;
        text-align: center;
      }
    }
  }
}
