<div class="page-wrapper">
  <div class="section-wrapper">
    <div class="section-content work">
      <div class="title">
        <h1>Kā mēs strādājam?</h1>
      </div>
      <div class="steps-list">
        <div *ngFor="let step of steps" class="step-box">
          <mat-icon class="material-icons-outlined">{{step.num}}</mat-icon>
          <div class="info">
            <h3>{{step.title}}</h3>
            <p>{{step.text}}</p>
          </div>
          <div class="icon">{{step.icon}}</div>
        </div>
        <div class="step-box call">
          <div class="info">
            <h2>Izmēģini pats!</h2>
            <a class="big"
               mat-flat-button
               color="primary"
               [routerLink]="'../pasutit'">
              Atstāt pieteikumu
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <contacts></contacts>-->
</div>
