<div class="page-wrapper">
  <div class="section-wrapper">
    <div class="section-content">

      <div class="terms">
        <div class="heading-2 color-dark-blue" i18n="@@terms">Lietošanas Noteikumi</div>
        <div class="body-1 color-dark-grey">Eduhelp ir skolas izglītības palīdzības pakalpojums, kas palīdz skolēniem izpildīt skolas darbus. Mēs
          sniedzam kvalitātes garantiju jebkuram mūsu pakalpojumam, kā arī pilnīgu pieejamību jebkuram skolēnam.</div>

        <div class="heading-3 color-dark-blue">Atsauksmes</div>
        <div class="body-2 color-dark-grey">Ja jums rodas jautājumi par šiem lietošanas noteikumiem vai kādi citi jautājumi, lūdzam sazināies ar mums,
          izmantojot e-pastu info@eduhelp.lv</div>

        <div class="heading-3 color-dark-blue">1.Pamatjēdzieni</div>
        <div class="body-2 color-dark-grey">“Izpildītājs” - fiziska persona, kas ir noslēgusi līgumu ar Servisa Administratoru par Klientu iesniegto
          pasūtījumu izpildi.

          <br/>“Klients” - fiziska persona, kura ir pieteikusies Servisā, lai saņemtu pakalpojumu par darbu izpildi.

          <br/>“Servisa Administrators” - fiziska persona, kas atbild par mijiedarbības procesu starp Pasūtītāju un
          Izpildītāju.
          <br/>“Serviss” - ir interneta resurss, kas atrodas domēnā https://eduhelp.lv/ un tā apakšdomēnos ar mērķi
          sniegt pakalpojumus Klienta sniegto skolu uzdevumu izpildē.
          <br/> “Lietošanas noteikumi” - šis līgums ar visiem papildinājumiem un izmaiņām.

          <br/> “Līgums” - vienošanās starp Klientu un Administratoru par pasūtījuma cenu, noteikumiem un īpašībām, kas
          saskaņota ar Izpildītāju.</div>

        <div class="heading-3 color-dark-blue">2. Lietotāja līgums</div>
        <div class="body-2 color-dark-grey">2.1. Lietotājs pilnībā pieņem Lietošanas noteikumus, iesniedzot pasūtījumu tīmekļa vietnē vai izmantojot
          jebkādu citu kontakta veidu.</div>

        <div class="heading-3 color-dark-blue">3. Cenas</div>

        <div class="body-2 color-dark-grey">3.1. Mēs paturam tiesības jebkurā laikā bez iepriekšēja brīdinājuma mainīt mūsu pakalpojumu cenu. Tas
          neattiecas uz to preču vienību cenu, kurām pasūtījums tika noformēts pirms izmaiņām.
          <br/> 3.2. Mēs paturam tiesības jebkurā laikā pēc saviem ieskatiem sniegt atlaides klientiem par jebkuru no
          saviem pakalpojumiem.</div>

        <div class="heading-3 color-dark-blue">4. Pasūtījumu noformēšana un Izpildītāju atlase</div>

        <div class="body-2 color-dark-grey">4.1. Pasūtījumi tiek apstrādāti 24 stundu laikā pēc to saņemšanas, izņemot saziņu pa tālruni, kura notiek
          reālajā laikā.
          <br/> 4.2. Apstrādājot pasūtījumu, Administrators sazinās ar Klientu, lai noteiktu pasūtījuma nosacījumus.
          <br/> 4.3. Pēc vienošanas starp Administratoru un Klientu ar pasūtījuma noteikumiem Administrators iesniedz
          Klientam rēķinu par pasūtījuma apmaksu.
          <br/> 4.4. Pēc maksājuma saņemšanas informācija par pasūtījumu tiek nodota brīvam Izpildītājam, kurš
          specializējas vajadzīgajā skolas priekmetā.
          <br/> 4.5. Lūdzam pirms pasūtījuma nosūtīšanas pārliecināties, vai visi dati ir pareizi.
          <br/> 4.6. Mēs neesam atbildīgi par pasūtījumu izpildes aizkavēšanos gadījumos, kad apstākļi ir ārpus mūsu
          kontroles.</div>

        <div class="heading-3 color-dark-blue">5. Līgums ar Izpildītāju</div>

        <div class="body-2 color-dark-grey">5.1. Nododot pasūtījumu, starp Izpildītāju un Administratoru tiek noslēgts Līgums par darbu laiku un samaksu.
          <br/>5.2. Izpildītājam ir pienākums pēc Administratora pieprasījuma ziņot par darba posmiem.
          <br/>5.3. Kad pabeigtais darbs tiek piegādāts Klientam, autortiesības uz darbu pāriet Klientam</div>

        <div class="heading-3 color-dark-blue">6. Pasūtījuma atcelšana</div>

        <div class="body-2 color-dark-grey">6.1. Pasūtītājs var atcelt pasūtījumu ar pilnu naudas atmaksu:
          <br/> <span> 6.1.1. Ja netiek ievēroti Līguma nosacījumi starp Klientu un Administratoru no Administratora vai Izpildītāja puses. </span>
          <br/> <br/> Citos gadījumos priekšapmaksas administrācijai ir tiesības neatmaksāt klientam priekšapmaksu.
          <br/> 6.2. Serviss Eduhelp patur tiesības atteikties sniegt pakalpojumus Klientam šādu iemeslu dēļ:
          <br/> <span> 6.2.1. Izpildītājs, kurš varētu nodrošināt Klienta pasūtījuma pareizu izpildi, pasūtījuma brīdī nav klāt vai ir aizņemts ar citu pasūtījumu </span>
          <br/> <span> 6.2.2. Klients neatstāja kontaktus </span>
          <br/> <span> 6.2.3. Pasūtījums tika turēts aizdomās par krāpnieciskām darbībām </span>
          <br/>
          <span> 6.2.4. Citi iemesli, kļūdas un neprecizitātes, kuru dēļ nav iespējams izpildīt pasūtījumu. </span>
          <br/> 6.3. Ja Administrātors atcel pasūtījumu, Serviss pilnībā atlīdzina pasūtījuma māksu.
          <br/> 6.4. Klienta dati pēc pasūtījuma atcelšanas paliek pie mums. Mēs apņemamies tos nenodot nepiederošām
          personām.</div>

        <div class="heading-3 color-dark-blue">7. Tiesības un pienākumi</div>

        <div class="body-2 color-dark-grey">7.1 Servisa Administratoram ir tiesības:
          <br/> <span> 7.1.1. Jebkurā laikā bez brīdinājuma pārbaudīt uzdevuma progresu. </span>
          <br/> <span> 7.1.2. Ja netiek izpildīti pasūtījuma nosacījumi, noņemt Izpildītāju no darba, nesamaksājot par jau veiktajiem pasūtījumiem. </span>
          <br/> <span> 7.1.3. Apkopot Klientu atsauksmes par sniegto pakalpojumu kvalitāti. </span>
          <br/> <span> 7.1.4. Veikt darbības (uzglabāšana, apstrāde, dzēšana, analīze, datu izmantošana pārskatos) ar Klientu saistīto informāciju. </span>
          <br/> <span> 7.1.5. Nosūtīt reklāmas ziņojumus uz Lietotaja pastu. Lietotājs jebkurā laikā var no tā atteikties. </span>
          <br/> 7.2. Administratora ir pienākumi:
          <br/> <span> 7.2.1. Pārliecināties, ka pasūtījums tiek veikts saskaņā ar sastādīto līgumu. </span>
          <br/> <span> 7.2.2. Atgriezt klientam samaksu par pasūtsījumu, kas netika izpildīts saskaņā ar līgumu. </span>
          <br/> <span> 7.2.3. Pēc klienta pieprasījuma informēt par darba stadiju. </span>
          <br/> <span> 7.2.4. Pēc pasūtījuma pozitīvas izpildes veikt samaksu darbuzņēmējam. </span>
          <br/> <span> 7.2.5. Sniegr Izpildītājam nepieciešamo informāciju. </span>
          Noklusējuma gadījumā Klintam/Izpildītājam ir tiesības pieprasīt atgriezt pasūtījuma samaksu / samaksāt par
          darbu.
          <br/> 7.3. Izpildītājam ir tiesības:
          <br/> <span> 7.3.1. Saņemt naudas atlīdzību par pasūtījuma izpildi saskaņā ar Līgumu. </span>
          <br/> <span> 7.3.2. Jebkurā laikā no Administratora vai Klienta iegūst informāciju par pasūtījumu </span>
          <br/> 7.4. Izpildītājam ir pienākumi:
          <br/> <span> 7.4.1. Nepārsūtīt datus par Klientu un pasūtījumu trešajām personām. </span>
          <br/> <span> 7.4.2. Saskaņā ar pasūtījuma noteikumiem precīzi izpildīt piegādāto darbu, nepārsniedzot termiņus. </span>
          <br/> <span> 7.4.3. Veikt korekcijas darbā: kā daļu no darba, saskaņā ar klienta prasībām. Izpildītājam ir tiesības pieprasīt papildu samaksu par pasūtījuma izmaiņu </span>
          <br/> <span> 7.4.4. Ievērot katra pasūtījuma unikalitāti, pasūtījumos ir aizliegts plaģiāts (pilnīga datu kopēšana no citiem interneta resursiem). </span>
          <br/> Ja Izpildītājs nepilda saistības, Administrators pārtrauks vienošanos starp Servisu un Izpildītāju,
          pasūtījuma izpildi nododot citam Izpildītājam.
          <br/> 7.5. Klientam ir tiesības:
          <br/> <span> 7.5.1. Ja nav izpildīti līguma nosacījumi, pieprasīt pilnīgu vai daļēju atmaksu. (sīkāku informāciju skatīt 6. punktā) </span>
          <br/> <span> 7.5.2. Lūgt Izpildītāju mainīt darbu bez papildu maksas. </span></div>

        <div class="heading-3 color-dark-blue">8. Privātuma politika</div>

        <div class="body-2 color-dark-grey">8.1. Servisa pienākums ir saglabāt Klienta un Izpildītāja personas datu konfidencialitāti.
          <br/> 8.2. Veicot pasūtījumu mājas lapā eduhelp.lv , Klients sniedz Pakalpojumam savus personiskos datus,
          proti: vārdu, e-pasta adresi. pasts, tālrunis, klase (grupa), kurā viņš mācās.
          <br/> 8.3. Klienta personas dati tiek izmantoti pasūtījumu veikšanai, saziņai pa e-pastu. pastu, lai informētu
          Klientu par pasūtījuma statusu, par rēķiniem un īpašiem piedāvājumiem, problēmu novēršanu.
          <br/> 8.4. Personas dati netiek nodoti trešajām personām mārketinga nolūkos.
          <br/> 8.5. Mēs apņemamies veikt visus nepieciešamos pasākumus, lai aizsargātu jūsu datus no nesankcionētas
          piekļuves.
          <br/> 8.6. Klienta un Izpildītāja dati ir pieejami tikai Vietnes Administratoram, un tie netiks nodoti
          izglītības iestādei.</div>

        <div class="heading-3 color-dark-blue">9. Intelektuālā īpašuma tiesības</div>

        <div class="body-2 color-dark-grey">9.1. Vietnes materiālus ir aizliegts kopēt, izplatīt, reproducēt, kā arī jebkādiem citiem nolūkiem izmantot,
          izņemot personisku nekomerciālu izmantošanu.</div>

        <div class="heading-3 color-dark-blue">10. Vietnes funkcionalitāte un saturs</div>

        <div class="body-2 color-dark-grey">10.1. Mēs paturam tiesības jebkurā laikā un pēc saviem ieskatiem veikt izmaiņas vietnes funkcionalitātē un
          saturā bez iepriekšēja brīdinājuma.
          10.2. Mēs negarantējam, ka šī vietne vienmēr būs pieejama, ka piekļuve tiks nodrošināta nepārtraukti. Mēs
          negarantējam, ka vietne atbildīs jūsu prasībām. Mēs negarantējam, ka vietne darbosies bez kļūdām un visas
          vietnes kļūdas tiks novērstas.
          10.3. Mēs negarantējam, ka šajā vietnē vai serverī, kurā šī vietne atrodas, nebūs vīrusu un citas ļaunprātīgas
          programmatūras. Mēs neesam atbildīgi par jebkādu kaitējumu, ko rada šāda programmatūra. Jūs pats esat
          atbildīgs par visu nepieciešamo veikšanu, lai aizsargātu savu aprīkojumu un informāciju no šāda veida
          iespējamām briesmām.</div>

        <div class="heading-3 color-dark-blue">11. Izmaiņas un papildinājumi šajos lietošanas noteikumos</div>

        <div class="body-2 color-dark-grey">11.1. Mēs paturam tiesības jebkurā laikā un pēc saviem ieskatiem veikt izmaiņas un papildinājumus šajos
          lietošanas noteikumos bez jebkādas piekrišanas un paziņojuma. Šādas izmaiņas un papildinājumi stājas spēkā
          tūlīt pēc to publicēšanas vietnē.</div>

        <div class="heading-3 color-dark-blue">12. Saites uz trešo pušu vietnēm</div>

        <div class="body-2 color-dark-grey">12.1. Šajā vietnē var būt saites uz trešo pušu vietnēm. Mēs neatbildam par trešo personu vietņu saturu. Ja
          jūs nolemjat izmantot saiti uz trešās puses vietni, jūs to darāt uz savu risku.</div>

        <div class="heading-3 color-dark-blue">13. Strīdu izšķiršana</div>

        <div class="body-2 color-dark-grey">13.1. Ja starp Izpildītāju un Pasūtītāju rodas domstarpības, abas puses strīdus mēģinās atrisināt sarunu
          ceļā. Ja strīdu nav iespējams atrisināt sarunu ceļā, puses vēršas pie administratora, pēc kura administrators
          rīkojas saskaņā ar šīs vietnes lietošanas noteikumiem.</div>
      </div>

    </div>
  </div>
</div>
