<div *ngIf="!hideUpperSection" class="section-wrapper bg-color-dark-blue upper">
  <div class="section-content">
    <div class="upper-footer-wrapper">

        <!--        <img class="logo" src="/assets/images/logo_dark_lv.png">-->
        <img class="logo" src="assets/images2/logo_lv_png.png">

        <div class="heading-4 color-white">Kontakti</div>

        <div class="heading-4 color-white">Rekviziīti</div>

        <div class="main">
          <div class="body-3 color-extra-light-grey">
            Eduhelp - mācību palīdzības serviss. Mēs sniedzam kvalitātes garantiju jebkuram mūsu pakalpojumam.
          </div>
          <div class="body-3 color-extra-light-grey">
            Eduhelp eksperti veic darbu pie materiāla atlases, apstrādes un strukturēšanas
            atbilstoši klienta prasībām. Šī darba rezultāts nav gatavs zinātnisks darbs, bet var kalpot kā
            avots tā rakstīšanai.
          </div>

        </div>

        <div class="contacts column">
          <div class="body-3 color-extra-light-grey">Tel. Nr.: &nbsp;<a class="link">+371 25324951</a></div>
          <div class="body-3 color-extra-light-grey">Email: &nbsp;<a class="link">info@eduhelp.lv</a></div>

          <div class="social-icons">
            <a href="/">
              <mat-icon class="social-icon" svgIcon="edu:fb"></mat-icon>
            </a>
            <a href="/">
              <mat-icon class="social-icon" svgIcon="edu:instagram"></mat-icon>
            </a>
            <a href="/">
              <mat-icon class="social-icon" svgIcon="edu:vk"></mat-icon>
            </a>
            <a href="/">
              <mat-icon class="social-icon" svgIcon="edu:tiktok"></mat-icon>
            </a>
            <a href="/">
              <mat-icon class="social-icon" svgIcon="edu:whatsapp"></mat-icon>
            </a>
            <a href="/">
              <mat-icon class="social-icon" svgIcon="edu:discord"></mat-icon>
            </a>
          </div>


          <!--          <div class="sm-list">-->
          <!--            <social-media-icon name="vk"></social-media-icon>-->
          <!--            <social-media-icon name="fb"></social-media-icon>-->
          <!--            <social-media-icon name="instagram"></social-media-icon>-->
          <!--          </div>-->
        </div>

        <div class="bank-details column">
          <div class="body-3 color-extra-light-grey">SIA SolutionsVS</div>
          <div class="body-3 color-extra-light-grey">Reģ. Nr.: &nbsp;40203222555</div>
          <div class="body-3 color-extra-light-grey">Banka: &nbsp;A/S Swedbank</div>
          <div class="body-3 color-extra-light-grey">SWIFT: &nbsp;HABALV22</div>
          <div class="body-3 color-extra-light-grey">Konta Nr.: &nbsp;LV45HABA0551047037611</div>
        </div>
      </div>

    </div>
</div>
<div class="section-wrapper bg-color-dark-blue lower">
  <div class="section-content">
    <div class="lower-footer-wrapper">
      <div class="body-3 color-white">© 2018-2021, Eduhelp. <a class="link" target="_blank"
                                                               [routerLink]="'noteikumi'">Lietošanas Noteikumi</a>
      </div>
    </div>
  </div>
</div>

