<div class="notification-wrapper">
  <mat-dialog-content>

    <ng-container *ngIf="data.status === emailStatus.SUCCESS">
      <mat-icon class="success">check_circle_outline</mat-icon>
      <div class="info">
        <div class="heading-3 color-dark-blue">Paldies!</div>
        <div class="body-2 color-dark-grey">Jūsu {{data.type === emailType.ORDER ? 'pieteikums' : 'jautājums'}} ir veiksmīgi nosūtīts.</div>
      </div>
    </ng-container>

    <ng-container *ngIf="data.status === emailStatus.ERROR">
      <mat-icon class="error">error_outline</mat-icon>
      <div class="info">
        <div class="heading-3 color-dark-blue">Oops...</div>
        <div class="body-2 color-dark-grey">Notika servera kļūda. Mēģiniet vēlreiz.</div>
      </div>
    </ng-container>

  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Aizvert</button>
  </mat-dialog-actions>
</div>
