mat-dialog-content {
  text-align: center;

  mat-icon {
    font-size: 120px;
    width: 120px;
    height: 120px;

    &.success {
      color: var(--green);
    }

    &.error {
      color: var(--red);
    }
  }

  .info {
    margin-bottom: 20px;

    p {
      margin-top: 10px;
    }
  }
}
