.icon-bg {
  background-color: #bfc8da;
  border-radius: 5px;
  display: flex;
  padding: 4px;
  cursor: pointer;

  &:hover {
    //&.vk {
    //  background-color: #2787F5;
    //}
    //
    //&.fb {
    //  background-color: #4267B2;
    //}
    //
    //&.inst {
    //  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
    //}
    background-color: #4d8fff;
  }

  mat-icon {
    width: 25px;
    height: 25px;
    font-size: 25px;
  }
}
