<div class="section-wrapper">
  <div class="section-content">
    <div class="action-wrapper">

      <div class="message">
        <div class="heading-4 color-white">Neatliec darba izpildīšanu uz pēdējo dienu</div>
        <div class="body-2 color-extra-light-grey">Nosūti pieteikumu un saņem atbildi ar piedāvājumu
          par cenu un izpildīšanas nosacījumiem stundas laikā.
        </div>
      </div>


      <a
        mat-flat-button
        color="primary"
        [routerLink]="'../pasutit'">
        <span>Atstāt pieteikumu</span>
        <mat-icon svgIcon="edu:clicked-arrow"></mat-icon>
      </a>
    </div>
  </div>
</div>
