.page-wrapper {
  padding-top: 70px;

  .warranties {
    .title {
      text-align: center;
    }

    .warranties-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      margin-top: 50px;

      @media (max-width: 1000px) {
        grid-template-columns: 1fr;
      }

      .warranty-box {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        align-items: center;
        background-color: var(--white);
        min-height: 150px;
        padding: 40px 40px;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgba(77,77,77,.16);

        @media (max-width: 500px) {
          grid-template-columns: auto;

          .icon {
            margin-bottom: 10px;
            grid-row: 1;
          }
        }


        .info {
          p {
            margin-top: 20px;
          }
        }

        .icon {
          font-size: 70px;
          text-align: center;
        }
      }
    }
  }
}
