<div class="burger-menu-wrapper bg-color-white"
     [@slideContent]="animationState"
     (@slideContent.start)="onAnimationStart($event)"
     (@slideContent.done)="onAnimationDone($event)">

  <div class="header">
    <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
  </div>

  <div class="menu-content">

    <a mat-flat-button color="primary" class="action-button" [routerLink]="'pasutit'" (click)="close()">Atstāt pieteikumu</a>

    <div class="tabs">
      <div *ngFor="let tab of tabs; let i = index" class="tab color-dark-blue body-1" [class.hidden]="i === 7" (click)="close(i)">
        {{tab}}
      </div>
    </div>

    <div class="social-icons">
      <a href="/">
        <mat-icon class="social-icon" svgIcon="edu:fb"></mat-icon>
      </a>
      <a href="/">
        <mat-icon class="social-icon" svgIcon="edu:instagram"></mat-icon>
      </a>
      <a href="/">
        <mat-icon class="social-icon" svgIcon="edu:vk"></mat-icon>
      </a>
      <a href="/">
        <mat-icon class="social-icon" svgIcon="edu:tiktok"></mat-icon>
      </a>
      <a href="/">
        <mat-icon class="social-icon" svgIcon="edu:whatsapp"></mat-icon>
      </a>
      <a href="/">
        <mat-icon class="social-icon" svgIcon="edu:discord"></mat-icon>
      </a>
    </div>

    <div class="contacts">
      <div class="contact"><mat-icon>email</mat-icon><a class="heading-4 link" href="mailto:info@eduhelp.lv">info@eduhelp.lv</a></div>
      <div class="contact"><mat-icon>local_phone</mat-icon><a class="heading-4 link" href="tel:+371 28857299">+371 25324951</a></div>
    </div>

    <div class="lang">
      <a mat-stroked-button href="/lv/"><mat-icon svgIcon="lv"></mat-icon>Latviešu</a>
      <a mat-stroked-button href="/ru/"><mat-icon svgIcon="ru"></mat-icon>Русский</a>
    </div>


  </div>

</div>
