.burger-menu-wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  padding: 0 5%;

  //@media (max-width: 650px) {
  //  padding: 0 10px;
  //}

  .header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      width: 50px;
      height: 50px;

      mat-icon {
        margin: auto 15px 2px auto;
        font-size: 40px;
        color: var(--dark-blue);
      }
    }
  }

  .menu-content {
    display: grid;
    grid-template-columns: minmax(auto, 300px);
    grid-template-rows: repeat(3,max-content);
    grid-row-gap: 40px;
    justify-content: center;
    margin-bottom: 50px;

    .lang {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      justify-content: center;

      a {
        mat-icon {
          margin-right: 10px;
        }
      }
    }

    .tabs {
      display: grid;
      grid-auto-flow: row;
      justify-content: center;

      .tab {
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.hidden {
          display: none;
        }

        &:hover {
          color: var(--blue);
        }
      }
    }

    .social-icons {
      display: grid;
      grid-template-columns: repeat(auto-fit, 40px);
      grid-gap: 10px;
      justify-content: center;

      mat-icon {
        width: 40px;
        height: 40px;
      }
    }

    .contacts {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      grid-row-gap: 10px;
      justify-content: center;

      .contact {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-column-gap: 10px;
        width: max-content;
        margin: 0 auto;

        mat-icon {
          width: 20px;
          height: 20px;
          font-size: 20px;
          pointer-events: none;
          color: var(--blue);
        }
      }
    }

    .main-buttons {
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 10px;

      a {
        width: 100%;
      }
    }
  }
}
