<div class="page-wrapper">

  <div class="section-wrapper intro">

    <div class="bg-overlay bg-color-dark-blue"></div>
    <div class="bg-image bg-color-sapphire-blue"></div>

    <div class="section-content">
      <div class="headline">
        <h1 class="color-white">Klientu atsauksmes</h1>
        <p class="paragraph-1 color-white">
          <!--          Palīdzība klientiem - mūsu galvenais mērķis, atsauksmes - mūsu darba galvenais radītājs. -->
          Mūsu klienti ir tas, kas veido Eduhelp servisa uzticību. Mēs vienmēr uzkalusam Jūs. ❤️</p>
      </div>
    </div>
  </div>

  <div class="section-wrapper">
    <div class="section-content reviews">

      <div class="stats">
        <div class="box">
          <div class="emoji">🥰</div>
          <div class="text">
            <h2 class="color-dark-blue">1000+</h2>
            <p class="paragraph-2">klientiem esam palīdzējuši</p>
          </div>
        </div>
        <div class="box">
          <div class="emoji">🤩</div>
          <div class="text">
            <h2 class="color-dark-blue">95%+</h2>
            <p class="sub-title">klientu atgriezās pie mums vēl</p>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="section-wrapper">
    <div class="section-content carousel">
      <carousel></carousel>
      <a href="https://instagram.com/eduhelp_lv" target="_blank"
         color="primary" class="big" mat-stroked-button>Visas atsauksmes</a>
    </div>
  </div>


  <div class="section-wrapper bg-color-light-blue">
    <div class="section-content ig-reviews">

      <div class="left">
        <div class="emoji-icon">⭐</div>
        <div class="desc">
          <h2 class="color-white">Raksti atsauksmi</h2>
          <p class="paragraph-2 color-white">
            Raksti savu atsauksmi vai komentāru par mūsu darbu uz ēpastu info@eduhelp.lv vai mūsu instagram profilā @eduhelp_lv.
          </p>
        </div>
      </div>

      <div class="right">
        <a href="https://instagram.com/eduhelp_lv" target="_blank" class="big" mat-stroked-button>Skatīt vairāk →</a>
      </div>

    </div>
  </div>


</div>
