<div class="page-wrapper">
<!--  <introduction></introduction>-->
  <div #section>
    <edu-intro2></edu-intro2>
  </div>

  <div #section>
    <edu-reviews></edu-reviews>
  </div>

  <div #section>
    <edu-services></edu-services>
  </div>

<!--  &lt;!&ndash;  <edu-contact-form></edu-contact-form>&ndash;&gt;-->
<!--&lt;!&ndash;  <strengths></strengths>&ndash;&gt;-->
  <div #section>
    <edu-work></edu-work>
  </div>

  <div #section>
    <edu-social-medias></edu-social-medias>
  </div>
<!--  <edu-join-team></edu-join-team>-->

  <div #section>
    <edu-about></edu-about>
  </div>

  <div #section>
<!--    <div class="heading-1 color-dark-blue">komanda</div>-->
    <edu-join-team></edu-join-team>
  </div>


<!--    <edu-contacts></edu-contacts>-->
  <div #section>
    <edu-questions></edu-questions>
  </div>

  <edu-action></edu-action>


</div>
