<div class="page-wrapper">
<!--  <introduction></introduction>-->

  <edu-intro2 #section></edu-intro2>
  <edu-reviews #section></edu-reviews>

  <edu-services #section></edu-services>

<!--  &lt;!&ndash;  <edu-contact-form></edu-contact-form>&ndash;&gt;-->
<!--&lt;!&ndash;  <strengths></strengths>&ndash;&gt;-->
  <edu-work #section></edu-work>

  <edu-social-medias #section></edu-social-medias>
<!--  <edu-join-team></edu-join-team>-->
  <edu-about #section></edu-about>


  <edu-join-team #section></edu-join-team>


<!--    <edu-contacts></edu-contacts>-->
  <edu-questions #section></edu-questions>

  <edu-action></edu-action>


</div>
