::ng-deep {
  .mat-dialog-container {
    padding: 10px;
    position: relative;
  }
}

.image-container {
  height: 85vh;
  display: grid;
  align-items: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}


.close-icon {
  position: absolute;
  top: -20px;
  right: 20px;

  mat-icon {
    color: var(--black);
    position: fixed;
    font-size: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
  }
}
