.section-wrapper {
  //background-image:
  //  //url('../../../../../assets/images2/noise.png'),
  //  linear-gradient(
  //  -90deg, rgb(191, 228, 255) 0%, rgb(243, 250, 255) 89.79%);
  background-position: center;
  background-repeat: repeat;
  position: relative;
  background-color: rgb(232, 245, 255);

  .image {
    position: absolute;
    width: 1600px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 60px;
    background: linear-gradient(
        180deg,rgba(238,238,238,0),rgba(238,238,238,.05) 10%,#FFFFFF);
  }

  .intro-wrapper {
    display: grid;
    grid-template-columns: auto minmax(auto, 350px);
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 100px 0;
    grid-gap: 100px;

    .intro-left {

      .list {
        display: grid;
        grid-row-gap: 15px;
        align-items: center;
        margin-top: 30px;

        .item {
          display: grid;
          grid-template-columns: max-content auto;
          grid-gap: 15px;
          align-items: center;

          .check-circle {
            //border-radius: 100px;
            //height: 30px;
            //width: 30px;
            //display: flex;
            //align-items: center;
            //justify-content: center;
            //color: #031b43;
            //border: 3px solid #1b6dff;


          }
          mat-icon {
            width: 35px;
            height: 35px;
            font-size: 35px;
          }
        }
      }

      .buttons {
        //display: grid;
        //grid-auto-flow: column;
        margin-top: 40px;
      }
    }



    .intro-right {

    }
  }

}
