<div class="section-wrapper">

<!--  <div class="image"></div>-->
  <mat-icon svgIcon="edu:town" class="image"></mat-icon>
  <div class="overlay"></div>



  <div class="section-content">
    <div class="intro-wrapper">

      <div class="intro-left color-sapphire-blue">

        <div class="title-1 color-dark-blue">Tavs palīgs skolas uzdevumu izpildē</div>
        <div class="text-1 color-dark-grey mt-20">
          Ar mums strādā labākie eksperti, kuri ir gatavi palīdzēt jums ar mācībām.<br>
          Grūtā tēma, vai nav laika izpildīšanai? Pasūtī izpildīšanu un saņēm garantēto rezultātu! <span>🙌</span></div>
        <div class="list">
          <div class="item" *ngFor="let title of listTitles">
<!--            <div class="check-circle">-->
              <mat-icon svgIcon="rounded_check"></mat-icon>
<!--            </div>-->
<!--            <div class="icon">{{title.icon}}</div>-->
            <div class="title-4 color-dark-blue">{{title.name}}</div>
          </div>
        </div>

        <div class="buttons">

          <a class=""
             mat-flat-button
             color="primary"
             routerLink="pasutit">
            Atstāt pieteikumu
          </a>

<!--          <a class=""-->
<!--             mat-stroked-button-->
<!--             [routerLink]="'atsauksmes'">-->
<!--            Skatīt atsauksmes-->
<!--          </a>-->

        </div>

      </div>

      <div class="intro-right">
        <div class="form">
          <edu-question-form></edu-question-form>
        </div>

<!--        <div class="image">-->
<!--          <div class="bg-overlay bg-color-white"></div>-->
<!--          <div class="bg-image"></div>-->
<!--        </div>-->


      </div>
    </div>

  </div>
</div>



<!--<div class="section-wrapper">-->
<!--  <div class="section-content">-->
<!--    <div class="intro-wrapper">-->

<!--      <h1 class="color-dark-blue">Tavs palīgs mācību uzdevumu izpildē</h1>-->
<!--      <p class="color-dark-blue">Pasūti jebkura veida un sarežģītības mācību uzdevumu, un to izpildīs labākais eksperts savā jomā!</p>-->
<!--&lt;!&ndash;      <a class="big round"&ndash;&gt;-->
<!--&lt;!&ndash;         mat-flat-button&ndash;&gt;-->
<!--&lt;!&ndash;         color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;         [routerLink]="'pasutit'">&ndash;&gt;-->
<!--&lt;!&ndash;        Atstāt pieteikumu&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon>arrow_forward</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->

<!--      <div class="form">-->
<!--        <question-form></question-form>-->
<!--      </div>-->

<!--&lt;!&ndash;      <div class="intro-left">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="intro-right">&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        <img src="assets/images2/intro2.gif">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="image">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="bg-overlay bg-color-dark-blue"></div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="bg-image"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
