<div class="section-wrapper main">
<!--  <mat-icon svgIcon="edu:abstract"></mat-icon>-->
<!--  <mat-icon svgIcon="edu:wave"></mat-icon>-->
  <div class="section-content">
    <div class="intro-wrapper">
      <div class="upper">
        <div class="main-section">
          <div class="heading-1 color-dark-blue">
            Kvalitātīva palīdzība ar
            <div class="typewriter">
              <div class="text" [innerHTML]="typewriterText"></div>
              <!--          <div class="line" [style.width.ch]="words[wordIndex].length"></div>-->
            </div>
          </div>
          <div class="body-1 color-dark-grey">
            Grūtā tēma, vai nav laika darbu izpildīšanai? Mēs tev palīdzēsim!<br>
            Pasūtī izpildīšanu un saņēm garantēto rezultātu! 🙌
          </div>

        </div>

        <mat-icon class="illustration" svgIcon="edu:study-work"></mat-icon>

        <div class="buttons">

          <a class="primary-button"
             mat-flat-button
             color="primary"
             routerLink="pasutit">
            Atstāt pieteikumu
          </a>

          <a class=""
             mat-stroked-button
             [routerLink]="'atsauksmes'">
            <mat-icon svgIcon="edu:whatsapp-simple"></mat-icon>
            <span>Uzrakstīt mums</span>
          </a>

        </div>

        <div class="costs-form-wrapper">

          <div class="heading-3 color-dark-blue">Uzzini izmaksas:</div>

          <form [formGroup]="questionForm" (ngSubmit)="onFormSubmit()">

            <mat-form-field appearance="outline">
              <mat-label>Darba apraksts</mat-label>
              <input matInput
                     required
                     placeholder="Priekšmeta nosaukums, klase, izpildes termiņi utt."
                     [formControl]="questionForm.controls.question">
              <mat-hint align="end">{{questionForm.controls.question.value.length}} / 256</mat-hint>
              <mat-error *ngIf="questionForm.controls.question.invalid">{{getQuestionErrorMessage}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput
                     placeholder="name@example.com"
                     required

                     [formControl]="questionForm.controls.email">
              <mat-error *ngIf="questionForm.controls.email.invalid">{{getEmailErrorMessage}}</mat-error>
            </mat-form-field>

            <button color="primary"
                    mat-flat-button>Uzzināt izmaksas &#8594;</button>
          </form>

          <div class="body-3 color-dark-grey">
            Vēlies sniegt pilnu aprakstu?
            <a class="link" routerLink="pasutit">Azpildi pieteikumu</a>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>

<div class="section-wrapper bg-color-light-blue">
  <div class="section-content">
    <div class="advantages-wrapper">
      <div class="advantages-box">
<!--        <mat-icon svgIcon="edu:dots"></mat-icon>-->
        <div *ngFor="let advantage of advantages" class="advantage">
<!--                    <mat-icon fontSet="material-icons-round" [svgIcon]="advantage.icon">{{advantage.icon}}</mat-icon>-->
          <mat-icon svgIcon="edu:check"></mat-icon>
          <div class="heading-4 color-dark-blue">{{advantage.name}}</div>
        </div>
      </div>

    </div>
  </div>
</div>
