@import "./theme";
//@import '@angular/material/theming';

.page-wrapper {
  height: 100%;

  //@media (max-width: 500px) {
  //  margin-top: 35px;
  //}
}

.section-wrapper {
  position: relative;

  .section-content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 7% 100px 7%;

    @media (max-width: 550px) {
      padding: 70px 5%;
    }
  }
}


h1,h2,h3,h4,p {
  margin: 0;
  position: relative;
}

h1,h2,h3,h4 {
  //color: var(--dark-blue);
}

p {
  font-size: 16px;
  //color: var(--dark-grey);
  font-weight: 400;

  &.sub-title {
    font-size: 20px;
    line-height: 1.4;
  }

  &.paragraph-1 {
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
  }

  &.paragraph-2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }

  @media (max-width: 1100px) {
    font-size: 14px;

    &.sub-title {
      font-size: 18px;
    }
  }

}

h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;

  @media (max-width: 1300px) {
    font-size: 50px;
  }

  @media (max-width: 500px) {
    font-size: 35px;
  }
}

.bold {
  font-weight: 800;
}

h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;

  @media (max-width: 1300px) {
    font-size: 35px;
  }
  //
  @media (max-width: 500px) {
    font-size: 30px;
  }
}

h3 {
  margin: 0;
  font-size: 35px;
  font-weight: 600;

  @media (max-width: 1300px) {
    font-size: 25px;
  }
  //
  //@media (max-width: 400px) {
  //  font-size: 20px;
  //}
}

h4 {
  font-size: 30px;
  font-weight: 700;
}


//.mat-button-base {
//  display: flex !important;
//  align-items: center;
//  justify-content: center;
//  text-decoration: none !important;
//  box-shadow: none !important;
//
//  .mat-button-focus-overlay {
//    opacity: 0 !important;
//    transition: none !important;
//  }
//
//  &.transparent {
//    background: transparent !important;
//
//    //&:hover {
//    //  background: rgba(255, 255, 255, 0.1) !important;
//    //}
//  }
//
//  //&.circle {
//  //  width: 70px !important;
//  //  height: 70px;
//  //  padding: 0;
//  //  border-radius: 50px;
//  //  background: transparent;
//  //
//  //  &:hover {
//  //    background-color: mat-color($edu-help-primary-palette, 300) !important;
//  //  }
//  //}
//
//  &.big {
//    height: 56px;
//    font-size: 18px;
//    padding: 0 30px;
//    font-weight: 600;
//
//    @media (max-width: 600px) {
//      height: 50px;
//      font-size: 16px;
//    }
//  }
//
//  &.round {
//    border-radius: 50px;
//  }
//
//
//  &.dark {
//    $dark-blue: #1e1f33;
//    background-color: $dark-blue !important;
//    color: var(--white);
//
//    &:hover {
//      background-color: lighten($dark-blue, 10%) !important;
//    }
//  }
//
//  &.mat-flat-button {
//    &.mat-primary {
//      &:hover {
//        $color: mat-color($edu-help-primary-palette, 400);
//        background: $color !important;
//      }
//    }
//  }
//
//  &.mat-mini-fab {
//    color: var(--dark-blue) !important;
//    background-color: transparent;
//
//    .mat-button-wrapper {
//      display: flex;
//    }
//
//    &:hover {
//      $darkBlue: var(--dark-blue);
//      background: rgba(0,0,0, 0.1) !important;
//    }
//  }
//
//  &.mat-stroked-button {
//    color: var(--white);
//    border-color: var(--white);
//
//    &:hover {
//      background: rgba(255,255,255,0.1) !important;
//    }
//
//    &.mat-primary {
//      color: var(--light-blue);
//      border-color: var(--light-blue);
//
//      &:hover {
//        $color: mat-color($edu-help-primary-palette, 500);
//        background: rgba($color, 0.05) !important;
//      }
//    }
//  }
//
//  //&:hover {
//  //  &.mat-primary.mat-flat-button:not(.transparent) {
//  //    background-color: mat-color($edu-help-primary-palette, 400) !important;
//  //  }
//  //}
//
//
//}

.emoji-icon {
  font-size: 90px;
}

//a {
//  cursor: pointer;
//  text-decoration: none;
//  color: mat-color($edu-help-primary-palette);
//
//  &:hover {
//    text-decoration: underline;
//  }
//
//  &.menu-link {
//    text-decoration: none !important;
//    color: var(--dark-blue);
//    font-weight: 500;
//  }
//}


.cdk-overlay-container {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
      background: #000;
      opacity: 0.85 !important;
    }
  }

  .mobile-menu-pane {
    position: fixed !important;
    height: 100%;
    right: 0;
  }
}

.pointer {
  cursor: pointer;
}

.snack-bar-info {
  position: absolute;
  margin: 80px auto auto auto !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: max-content;
  max-width: 50vw;

  @media (max-width: 600px) {
    width: 95% !important;
  }
}

.mat-dialog-actions {
  margin-bottom: 0;
}








.menu-link {
  text-decoration: none;
}

.social-icon {
  position: relative;
  cursor: pointer;

  &:hover {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 50px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .2;
    }
  }
}
