//:host {
//  display: grid;
//  //position: sticky;
//
//}

.nav-wrapper {
  left: 0;
  z-index: 2;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(255,255,255,.9);
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 7%);
  backdrop-filter: saturate(180%) blur(20px);

  @media (max-width: 950px) {
    backdrop-filter: none;
    background: white;
  }

  .upper {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5%;
    height: 70px;
    max-width: 1400px;

    .nav-left {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      //width: 224px;

      a {
        display: flex;
        align-items: center;

        img {
          width: 150px;
        }
      }
    }

    .nav-right {
      display: grid;
      grid-template-columns: auto max-content max-content auto;
      grid-column-gap: 10px;
      align-items: center;
      justify-content: end;

      @media (max-width: 950px) {
        display: none;
      }

      .contacts {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 20px;
        align-items: center;
        justify-content: center;

        .contact {
          display: grid;
          grid-template-columns: max-content auto;
          grid-column-gap: 10px;
          align-items: center;

          mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            color: var(--blue);
          }
        }
      }

      .splitter {
        height: 30px;
        width: 1px;
        background-color: var(--extra-light-grey);
        margin: 0 20px;
      }

      .lang-button {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          .icon-expand {
            color: var(--blue);
          }
        }

        .icon-expand {
          width: 20px;
          height: 20px;
          font-size: 20px;
          color: var(--dark-grey);
        }
      }


    }

    .burger {
      display: none;

      @media (max-width: 950px) {
        display: block;
      }

      button {
        width: 50px;
        height: 50px;

        mat-icon {
          position: relative;
          right: 1px;
          font-size: 30px;
          color: var(--dark-blue);
        }
      }
    }
  }

  .lower {
    border-top: 1px solid var(--extra-light-grey);
    //width: 100%;

    @media (max-width: 950px) {
      display: none;
    }

    .tabs {
      margin: 0 auto;
      padding: 0 5%;
      max-width: 1400px;
      display: grid;
      grid-template-columns: repeat(7, max-content);
      grid-column-gap: 5%;
      justify-content: center;
      position: relative;

      .tab {
        display: flex;
        align-items: center;
        height: 60px;
        cursor: pointer;

        &.hidden {
          display: none;
        }

        &:hover {
          color: var(--blue);
        }
      }

      .tab-slider {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--blue);
        transition: left .3s ease;
      }
    }
  }
}

.menu-item {
  display: flex;
  align-items: center;
}
