<div class="section-wrapper">
  <div class="section-content">
<!--    <h2 class="text-align-center color-dark-blue mb-50">Kāpēc Eduhelp?</h2>-->
    <div class="strength-wrapper">
<!--      <div class="icon">🎓</div>-->
<!--      <div class="title">Mūsu priekšrocības</div>-->
      <div class="strengths-list">
        <div *ngFor="let strength of strengths" class="strength">
<!--          <div class="icon">-->
            <img [src]="strength.icon">
<!--          </div>-->
          <div class="text">
            {{strength.name}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
